<div class="container">
<% if user_signed_in? %> 
  <h2><ul> Welcome, <%= current_user.email if !current_user.nil? %></ul></h2>
    

    <div class="inline">
    <ul><%= form_for @list, :html => {:class => "form-horizontal center"} do |f| %>
      <% if @list.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

            <ul>
            <% @list.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      <div class="form-group">
      <%= f.text_field :name, placeholder: 'i.e. Grocery', class: "form-control" %>
      <%= f.submit class: 'btn btn-primary' %>
      </div>
      <% end %>
    </ul>
    </div>
    
    

    <ul><h2>Here are all lists:</h2>
      <% @lists.each do |list| %>
        <div class="card mb-3">
        <div class="card-body">
        <div class="d-flex justify-content-between">
          <ul><h2><%= list.name %></h2></ul>
        <div>
        <a class="card-link"><%= button_to "Delete", list_path(list), :method => "delete", :class => 'btn btn-dark btn-sm btn btn-danger' %>
        <a class="card-link"><%= button_to "view", list_path(list), :method => "get", :class => 'btn btn-dark btn-sm btn btn-warning' %>
        </div>
          </div>
        </div>
      </div>
      <% end %>
    </ul>


<% else %>
  <h2><ul> Welcome!</ul></h2>
  <ul><h3>This is a List task manager application for users to keep track of their daily functions.</h3></ul>
  <ul><h3>To get started, click the menu icon and click "Sign Up" - or "Login" if you've already made an account.</h3></ul>
  <ul><h4>(You may also be given the option to sign in with your Facebook info if you'd prefer.)</h4></ul>
<% end %>
</div>