<!DOCTYPE html>
<html>
  <head>
    <title>ListTaskManager</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <%= stylesheet_link_tag "application.css" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    

    <nav class="navbar navbar-expand-md navbar-light" style="background-color: #FFFFFF;">
        <a class="navbar-brand" <%= link_to "List Manager", new_user_session_path, method: :get %></a>
          <div class="navbar-nav">
              <a class="nav-item nav-link active" </a>
              <a class="nav-item nav-link" <%= link_to "Login", new_user_session_path, method: :get %></a>
              <a class="nav-item nav-link" <%= link_to "Signup", new_user_registration_path, method: :get %></a>
              <a class="nav-item nav-link" <%= link_to "Lists", root_path, method: :get %></a>
              <a class="nav-item nav-link"> <%= button_to "logout", destroy_user_session_path, method: :delete  %></a>
            </div>
          </div>
    </nav>


    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>


  <div class="wrapper">

    <%= yield %>

    <footer class="branding">
        <small>&copy; 2021 <strong>List/Task Manager</strong></small>
    </footer>

  </div>

    


  </body>
</html>
